.footer-container {
  display: flex;
  justify-content: center;
}

.footer-text {
  margin-top: 10%;
  width: 80%;
  padding-left: 1rem;
  border-left: 8px solid black;
}

.footer-text h2 {
  font-size: 26px;
  font-family: ppneuemontreal;
}

.footer-section h3 {
  margin-top: 5%;
  font-size: 16px;
  font-family: ppneuemontreal;
  font-weight: normal;
}

.footer-text a {
  color: black;
  font-family: ppneuemontreal;
  font-weight: normal;
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  font-size: 30px;
  margin-top: 10%;
  flex-direction: column;
  padding-left: 2.4rem;
}

.footer-bottom .footer-logo p {
  font-family: ppneuemontreal;
  font-weight: normal;
  font-size: 42px;
}

.footer-contact {
  margin-top: 1rem;
}

.footer-contact p {
  font-family: ppneuemontreal;
  font-size: 1.2rem;
  font-weight: bold;
}
.footer-contact .email {
  font-weight: normal;
}

.social-media {
  margin-top: 1rem;
  margin-right: 10%;
}

.fb-wrapper {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.fb-text {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.instagram-wrapper {
  display: flex;
  margin-bottom: 3rem;
}

.instagram-text {
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* DESKTOP */
@media only screen and (min-width: 870px) {
  .footer-container {
    display: flex;
    justify-content: left;
    margin-left: 10%;
  }

  .footer-text {
    margin-top: 10%;
    width: 60%;
    border-left: 14px solid black;
  }

  .footer-text h2 {
    font-size: 72px;
  }

  .footer-section h3 {
    margin-top: 5%;
    font-size: 32px;
  }

  .footer-text a {
    color: black;
  }

  .footer-contact p {
    margin-left: 30%;
    font-family: ppneuemontreal;
    font-size: 2rem;
    font-weight: bold;
  }

  .footer-contact .email {
    font-weight: normal;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-size: 40px;
    flex-direction: row;
  }

  .social-media {
    margin-top: 1rem;
    margin-right: 10%;
  }

  .fb-wrapper {
    display: flex;
  }

  .fb-text {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .instagram-wrapper {
    display: flex;
  }

  .instagram-text {
    font-size: 2rem;
    margin-left: 1rem;
  }
}
