.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  height: auto;
}

.info-wrapper {
  border-left: 8px var(--yellow) solid;
  margin: 5rem 2rem 5rem 2rem;
  padding-left: 2rem;
}

.headline {
  font-family: ppneuemontreal;
  text-align: start;
  font-weight: bold;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.body-text {
  font-family: ppneuemontreal;
  text-align: start;
  font-size: 1rem;
}
@media only screen and (min-width: 1170px) {
  .info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    height: auto;
  }

  .info-wrapper {
    border-left: 14px var(--yellow) solid;
    margin: 6rem 24rem 6rem 24rem;
    padding-left: 2rem;
  }

  .headline {
    font-family: ppneuemontreal;
    text-align: start;
    font-weight: bold;
    font-size: 3rem;
  }

  .body-text {
    font-family: ppneuemontreal;
    text-align: start;
    font-size: 1.4rem;
  }
}
