/* MID SECTION */

.mid-section {
  position: relative;
  width: 100vw;
  margin-top: 3em;
  margin-bottom: 3em;
}

.top-container-text {
  position: absolute;
  right: 25rem;
  top: 10rem;
  font-family: ppneuemontreal;
  font-size: 2rem;
  background: white;
  border: 8px solid black;
  border-radius: 16px;
  padding: 2rem 3rem;
  width: 600px;
  height: auto;
}

.top-container-img {
  position: absolute;
  width: 450px;
  height: 680px;
  top: 2rem;
  right: 3rem;
  filter: grayscale(1);
  border: 8px solid black;
  border-radius: 16px;
}

.bottom-container-text {
  position: absolute;
  left: 25rem;
  top: 50rem;
  font-family: ppneuemontreal;
  font-size: 2rem;
  background: white;
  border: 8px solid black;
  border-radius: 16px;
  padding: 2rem 3rem;
  width: 570px;
  height: auto;
}

.bottom-container-img {
  position: relative;
  width: 450px;
  height: 680px;
  top: 35rem;
  left: 3rem;
  filter: grayscale(1);
  border: 8px solid black;
  border-radius: 16px;
}
