* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "ppfraktionmono";
  scroll-behavior: smooth;
}

body {
  background-color: var(--yellow);
  overflow-x: hidden;
}

.arrow {
  height: 0.7rem;
}

@media only screen and (min-width: 1170px) {
  .arrow {
    height: 3rem;
  }
}
