* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Sans-serif;
}

body {
  background-color: var(--bright-yellow);
}

/* ROLLING TEXT SECTION */
.rolling-text-section {
  margin-top: 2rem;
}

.rolling-text {
  font-size: 3rem;
}
